{"openapi":"3.0.0","paths":{"/jobs/{id}":{"get":{"operationId":"JobController_getJob","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}},"tags":["Job"]}},"/jobs/{id}/streaming":{"get":{"operationId":"JobController_streaming","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}},"tags":["Job"]}},"/transaction/{chain}/send":{"post":{"operationId":"TransactionController_send","parameters":[{"name":"chain","required":true,"in":"path","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendTxInput"}}}},"responses":{"201":{"description":""}},"security":[{"bearer":[]}],"tags":["Transaction"]}},"/dex/swap":{"post":{"operationId":"DexController_swap","parameters":[],"requestBody":{"required":true,"description":"params","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwapInput"}}}},"responses":{"201":{"description":""}},"security":[{"bearer":[]}],"tags":["Dex"]}},"/dex/route":{"post":{"operationId":"DexController_route","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwapInput"}}}},"responses":{"201":{"description":""}},"security":[{"bearer":[]}],"tags":["Dex"]}},"/solana/moonshot/mint":{"post":{"operationId":"MoonshotController_mint","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MintInput"}}}},"responses":{"201":{"description":""}},"tags":["Moonshot"]}},"/solana/moonshot/submitMint":{"post":{"operationId":"MoonshotController_submitMint","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitInput"}}}},"responses":{"201":{"description":""}},"tags":["Moonshot"]}},"/solana/pumpfun/mint":{"post":{"operationId":"PumpfunController_mint","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PumpMintInput"}}}},"responses":{"201":{"description":""}},"tags":["Pumpfun"]}},"/solana/pumpfun/submitMint":{"post":{"operationId":"PumpfunController_submitMint","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitInput"}}}},"responses":{"201":{"description":""}},"tags":["Pumpfun"]}},"/orders/placeOrder":{"post":{"operationId":"OrderController_placeOrder","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlaceOrderInput"}}}},"responses":{"201":{"description":""}},"tags":["Order"]}},"/orders/cancelOrder":{"post":{"operationId":"OrderController_cancelOrder","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CancelOrderInput"}}}},"responses":{"201":{"description":""}},"tags":["Order"]}},"/orders/cancelAllOrders":{"post":{"operationId":"OrderController_cancelAllOrders","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CancelAllOrdersInput"}}}},"responses":{"201":{"description":""}},"tags":["Order"]}},"/orders/takeOrder":{"post":{"operationId":"OrderController_takeOrder","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlaceOrderInput"}}}},"responses":{"201":{"description":""}},"tags":["Order"]}},"/orders/createMarket":{"post":{"operationId":"OrderController_createMarket","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateMarketInput"}}}},"responses":{"201":{"description":""}},"tags":["Order"]}},"/orders/closeMarket":{"post":{"operationId":"OrderController_closeMarket","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloseMarketInput"}}}},"responses":{"201":{"description":""}},"tags":["Order"]}},"/solana/openbook/info/all/markets":{"get":{"operationId":"OpenbookController_getMarkets","parameters":[],"responses":{"200":{"description":""}},"tags":["Openbook"]}},"/solana/openbook/info/market/{marketAddress}":{"get":{"operationId":"OpenbookController_getMarketInfo","parameters":[{"name":"marketAddress","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}},"tags":["Openbook"]}},"/solana/openbook/info/market/{marketAddress}/orderbook":{"get":{"operationId":"OpenbookController_getOrderBook","parameters":[{"name":"marketAddress","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}},"tags":["Openbook"]}},"/solana/openbook/info/market/{marketAddress}/orderbook/userOrders/{userAddress}":{"get":{"operationId":"OpenbookController_getUserOrders","parameters":[{"name":"marketAddress","required":true,"in":"path","schema":{"type":"string"}},{"name":"userAddress","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}},"tags":["Openbook"]}}},"info":{"title":"Dex Aggregator API","description":"Dex Aggregator API ⚡️","version":"1.0","contact":{"name":"AI","url":"https://github.com/openweb3-io/dex-aggregator","email":"ai@sx.ai"}},"tags":[{"name":"Endpoints","description":""}],"servers":[{"url":"https://api.dex.openweb3.io"}],"components":{"securitySchemes":{"bearer":{"scheme":"bearer","bearerFormat":"JWT","type":"http"}},"schemas":{"SendTxInput":{"type":"object","properties":{"signedTx":{"type":"string","description":"Signed Transaction(base64)"},"submitType":{"type":"string","description":"SubmitType"}},"required":["signedTx","submitType"]},"SwapInput":{"type":"object","properties":{"chain":{"type":"string","description":"chain of the trade","example":"solana"},"dex":{"type":"string","description":"dex of the trade","example":"raydium"},"userAddress":{"type":"string","description":"The address user choosed"},"poolAddress":{"type":"string","description":"pool address"},"amount":{"type":"string","description":"The amount","example":"1000"},"swapMode":{"type":"string","description":"The Swap Mode","example":"ExactIn"},"slippageBps":{"type":"number","description":"slippage tolerance (e.g., 10 for 10%)","default":10,"nullable":true},"inputMint":{"type":"string","description":"Input Mint"},"outputMint":{"type":"string","description":"Ouput Mint"},"priorityFee":{"type":"string","description":"priority fee"}},"required":["chain","dex","userAddress","amount","swapMode","slippageBps"]},"MintInput":{"type":"object","properties":{"creator":{"type":"string"},"name":{"type":"string"},"symbol":{"type":"string"},"migrationDex":{"type":"string","example":"RAYDIUM"},"icon":{"type":"string"},"description":{"type":"string","example":"description for token"},"links":{"example":[{"label":"website","url":"https://x.com"}],"type":"array","items":{"type":"string"}},"banner":{"type":"string"},"tokenAmount":{"type":"string","example":"42000000000"}},"required":["creator","name","symbol","migrationDex","icon","description","links","banner","tokenAmount"]},"SubmitInput":{"type":"object","properties":{"signedTx":{"type":"string"},"extra":{"type":"object"}},"required":["signedTx","extra"]},"PumpMintInput":{"type":"object","properties":{"twitter":{"type":"string"},"telegram":{"type":"string"},"website":{"type":"string"},"creator":{"type":"string"},"name":{"type":"string"},"symbol":{"type":"string"},"migrationDex":{"type":"string","example":"RAYDIUM"},"icon":{"type":"string"},"description":{"type":"string","example":"description for token"}},"required":["twitter","telegram","website","creator","name","symbol","migrationDex","icon","description"]},"PlaceOrderInput":{"type":"object","properties":{"chain":{"type":"string","description":"chain of the order"},"dex":{"type":"string","description":"dex of the order"},"amount":{"type":"number","description":"The order amount"},"price":{"type":"number","description":"price of the order"},"side":{"type":"string","description":"side of the order","enum":["bid","ask"]},"marketAddress":{"type":"string","description":"market address"},"userAddress":{"type":"string","description":"user address"},"priorityFee":{"format":"int64","type":"integer","description":"priority fee microLamports","default":5000}},"required":["chain","dex","amount","price","side","marketAddress","userAddress"]},"CancelOrderInput":{"type":"object","properties":{"dex":{"type":"string","description":"dex of the order"},"chain":{"type":"string","description":"chain of the order"},"userAddress":{"type":"string","description":"user address"},"marketAddress":{"type":"string","description":"market address"},"orderIds":{"description":"order ids","type":"array","items":{"type":"string"}},"clientOrderIds":{"description":"client order ids","type":"array","items":{"type":"string"}},"priorityFee":{"format":"int64","type":"integer","description":"priority fee microLamports","default":5000},"extra":{"type":"object","description":"extra"}},"required":["dex","chain","userAddress","marketAddress","orderIds","clientOrderIds","extra"]},"CancelAllOrdersInput":{"type":"object","properties":{"chain":{"type":"string","description":"chain of the order"},"dex":{"type":"string","description":"dex of the order"},"marketAddress":{"type":"string","description":"market address"},"userAddress":{"type":"string","description":"user address"},"side":{"type":"string","description":"side of the order"},"priorityFee":{"format":"int64","type":"integer","description":"priority fee microLamports","default":5000},"limit":{"type":"number","description":"limit of the order","default":10}},"required":["chain","dex","marketAddress","userAddress","side"]},"CreateMarketInput":{"type":"object","properties":{"chain":{"type":"string","description":"chain of the order"},"dex":{"type":"string","description":"dex of the order"},"name":{"type":"string","description":"market name"},"baseMint":{"type":"string","description":"base mint address"},"quoteMint":{"type":"string","description":"quote mint address"},"baseLotSize":{"type":"number","description":"base lot size"},"quoteLotSize":{"type":"number","description":"quote lot size"},"userAddress":{"type":"string","description":"user address"},"priorityFee":{"format":"int64","type":"integer","description":"priority fee microLamports","default":5000},"makerFee":{"type":"number","description":"maker fee","default":0},"takerFee":{"type":"number","description":"taker fee","default":0},"timeExpiry":{"type":"number","description":"time expiry","default":0},"oracleA":{"type":"string","description":"oracle a"},"oracleB":{"type":"string","description":"oracle b"},"extra":{"type":"object","description":"extra"}},"required":["chain","dex","name","baseMint","quoteMint","baseLotSize","quoteLotSize","userAddress"]},"CloseMarketInput":{"type":"object","properties":{"chain":{"type":"string","description":"chain of the order"},"dex":{"type":"string","description":"dex of the order"},"marketAddress":{"type":"string","description":"market address"},"userAddress":{"type":"string","description":"user address"},"priorityFee":{"format":"int64","type":"integer","description":"priority fee microLamports","default":5000},"extra":{"type":"object","description":"extra"}},"required":["chain","dex","marketAddress","userAddress"]}}}}
